/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
} */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url('./Land.webp') no-repeat center center fixed; */
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(59, 59, 59, 0.6)), 
              url(./Land.webp) fixed center center;
    background-size: cover;
}



.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#toggleForm {
    margin-top: 20px;
    font-size: 14px;
    color: #007BFF;
    background: none;
    border: none;
    cursor: pointer;
}

#toggleForm:hover {
    text-decoration: underline;
}
